body{
    font-family:Arial,sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #f4f4f4;
}
h1{
    color: rgb(0, 0, 0);
    text-align: center;
}
form{
    display: flex;
    flex-direction: column;
    max-width: 500px;
    margin: 0 auto;
    padding: 30px;
    background-color: #dccece;
    border: 1px solid #ddd;
    border-radius: 5px;
}
label {
    margin-bottom: 5px;
    color: #000000;


}
input, select{
    border-radius: 5px;
    padding: 6px;
    margin-bottom: 10px;
    border: 1px solid;
}
button{
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}
button:hover {
    background-color: #ff1e2ace;
}
.afficheradio{
   display: inline;
   padding: 10px;
}